<form role="form" id="singleEventForm_{{dynamicId}}" class ="singleEventForm" >

    <div class="form-group">
        <label for="single_executionPlanName_{{dynamicId}}">Execution Plan Name<span class="requiredAstrix"> *</span></label>
        <select id="single_executionPlanName_{{dynamicId}}" name="single_executionPlanName_{{dynamicId}}" class="form-control" >
        </select>
    </div>

    <div class="form-group">
        <label for="single_streamName_{{dynamicId}}">Stream Name<span class="requiredAstrix"> *</span></label>
        <select id="single_streamName_{{dynamicId}}" name="single_streamName_{{dynamicId}}" class="form-control">
        </select>
    </div>

    <div class="form-group">
        <label for="single_timestamp_{{dynamicId}}">Timestamp</label>
        <input type="text" class="form-control" id="single_timestamp_{{dynamicId}}" name="single_timestamp_{{dynamicId}}">
    </div>

    <div class="form-group" id="single_attributes_{{dynamicId}}">

    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-default" id="single_submitConfig_{{dynamicId}}" name="simulate">Simulate
        </button>
        <button type="button" class="btn btn-default" id="single_deleteConfig_{{dynamicId}}">Cancel</button>
    </div>
</form>